# Next.js
.next/
out/
build/
dist/
.open-next/

# Dependencies
node_modules

# Env
.env
.env.local
.env.*.local
.dev.vars

# DB
data/
# keep drizzle migrations (do not ignore *.sql)
# drizzle/*.sql
*.db
*.sqlite
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
tsconfig.tsbuildinfo
.next/
