@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #18181b;
}

* {
  border-color: #e4e4e7;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}
